# Node.js
**/node_modules/
**/dist/
**/build/
**/coverage/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
**/.venv/
**/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/

# Android
.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore

# General
.vercel
.vscode/
*.log
tmp/
*.pkl
datasets/

